body{

}
.app{
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.mrpDiv{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.mrpDiv input, .mrpDiv button{
  font-size: 55px;
  padding: 10px 20px;
}
.result{
  display: flex;
  flex-direction: column;
  font-size: 55px;
  gap: 30px;
}
